* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Utility Classes */
.btn-primary{
    background: #1db954;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}

.btn-primary:hover {
    background: #1ed760;
    cursor: pointer;
}

.logo {
    height: 40px;  
    width: auto;
}

/* Navbar */
#navbar {
    display: flex;
    background-color: rgb(0,0,0,0.6);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar .navbar-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}



#navbar .navbar-container ul {
    display: flex;
    list-style: none; 
    font-weight: bold;
}

#navbar .navbar-container ul li {
    padding: 0 20px;
    transition: all 300ms ease;
}

#navbar .navbar-container ul li:hover {
    color: #1db954;
    cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
    border-right: 1px solid white;
}

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("img/showcase.webp") center center/cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h2 {
    font-size: 5rem;
}

#showcase .showcase-container p {
    margin: 15px 0;
    font-size: 1.1rem;
}

/*Footer */
#footer {
    background: black;
    color: white;
    padding: 80px 0;
}

#footer .footer-content {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

#footer .footer-content .footer-menu{
    margin: 0 40px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
    margin: 25px 0;
    transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
    color: #1db954;
    cursor: pointer;
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}
 /* Footer Socials */
.socials {
    display: flex;
}

.socials i {
    margin: 0 20px;
    font-size: 1.7rem;
}

.socials i:hover {
    color: #1db954;
    cursor: pointer;
    transition: all 300ms ease;
}


/* Footer Info */
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size:  0.78rem;
    padding-top: 50px;
}

.footer-info .footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-items {
    margin: 0 6px;
    transition: all 300ms ease;

}

.footer-info .footer-info-items .footer-info-items:hover {
    color: #1db954;
    cursor: pointer;
}

.footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.footer-info .rights .country .brazil-flag {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}

